
    <!--incluir libreria de bootstrap-->
    <link rel="stylesheet" href="/curriculum/src/styles.css">

    <div class="container-fluid">           
                <div class="row">

                    <div class="col-4 " id="colContacto">
                        <!--etiqueta de contacto-->
                        <app-contacto></app-contacto>
                        <div>
                        <!--etiqueta de lenguaje-->
                        <app-lenguaje></app-lenguaje>
                            </div>
                            <div>
                        <!--etiqueta de habilidades-->
                        <app-habilidades></app-habilidades>
                            </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col-12 " id="col1">
                                <!--etiqueta de header-->
                                <app-header></app-header>
                            </div>

                            <div class="col-12">
                                <div class="row" id="col2">
                                    <main>
                                    <div class="col" >
                                    <!--etiqueta de experiencia-->
                                    <app-experiencia></app-experiencia>
                                    </div>

                                    <div>
                                        <!--etiqueta de cursada-->
                                        <app-cursada></app-cursada>
                                    </div>
                                </main>
                                </div>
                            
                            
                        </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
       <!--etiqueta de footer-->
       <app-footer></app-footer>
    <!--incluir js de bootstraps-->
