<h3>CURSADA EN EDUCACIÓN IT</h3>
                                        <ol>
                                            <li><p>Javascript Desarrollador Avanzado (finalizado en 2020)</p></li>
                                            <li><p>Maquetador Web Avanzado (finalizado en 2020)</p></li>
                                            <li><p>Javascript Desde cero (finalizado en 2020)</p></li>
                                            <li><p>Desarrollo Web con HTML (finalizado en 2020)</p></li>
                                            <li><p>Excel básico y avanzado (finalizado en 2020)</p></li>  
                                        </ol>